<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/headerFooter.css">
</head>
<body>
<div class="py-4 border border-lighter border-bottom-0 border-left-0 border-right-0 bg-dark" >
  <div class="container">
    <div class="col-md-9 text-center">
      <a href="#" class="px-3"><small class="font-weight-bold">이용안내</small></a>
      <a href="#" class="px-3"><small class="font-weight-bold">정책</small></a>
      <a href="#" class="pl-3"><small class="font-weight-bold">고객지원</small></a>
    </div>
  </div>
</div>
<footer class="border border-dark border-left-0 border-right-0 border-bottom-0 p-4 bg-dark">
  <div class="container">
    <div class="row align-items-center text-center text-md-left col">
      <p class="mb-0 small">
        <a href="">프로젝트 소개</a>&nbsp;|&nbsp;<a href="">조원소개</a>&nbsp;|&nbsp;<a href="">개발범위</a>&nbsp;|&nbsp;<a href="">시스템 요구사항</a>
      </p>
    </div>
  </div>
</footer>
</body>
</html>